{% extends 'patient_nav_bar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
{% block content %}
<body>
  <div class ="bookAppointmentContainer">
      <h2>Book your Appointment</h2>
    
      <form method="post">
        {% csrf_token %}
        
              <div class="department">
              <label>Select Department</label>
              {{ form.department }}
              <br>
              </div>
       
              <div class="doctor">
                <label>select doctor</label>
                <select name="doctor" >
                  <option value="">---------</option>
                  {% for doctor in form.doctor.field.queryset %}
                    <option value="{{ doctor.pk }}">{{ doctor.first_name }} {{ doctor.last_name }}</option>
                  {% endfor %}
                </select>
              </div>

              <div class="date">
                  <label>Select Date:</label>
                  <input type="date" name="appointment_date">
              </div>
              <div>
                <button class="submit" type="submit">Continue</button>
              </div> 
              <div>
                <input type="hidden" name="patient" value="{{ patient.pk }}">
              </div>
            
          </form>
      </div>
  </body>
  {% endblock %}
  </html>