{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bar</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

  <body>
    <div class="topnav">
        
        <a href="../contact">Contact</a>
        <a href="../about">About</a>
        <a href="../departments">Departments</a>
        <a href="../doctor_list">Doctors</a>
        <a class="active" href="{% url 'index' %}">Home</a>
    </div>
  </body>
{% block content %}
{% endblock %}
</html>
